body{
    margin: 0;
    padding: 0;
}

app {
    display: flex;
}

.topic{
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 36px;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center; 
    color: #fff;
    text-shadow: currentColor;
    background-color: rgba(0, 0, 0);
}

.outerContainer{
    background-image: url('./images/background.jpg');
    margin: 0px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.graph{
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 40px 40px;
}

.MuiGrid-container{
    margin-top: 40px !important;
}

.MuiTypography-body1{
    margin-bottom: 0 !important;
    height: 60px;
}